nav.navbar {
    display: flex;
    justify-content: space-between;
    min-height: 10%;
    background-color: #aaeea0 !important;
}
nav.navbar {
    color: crimson;
    font-style: italic;
}
.container {
    width: 90%;
    margin: auto;
    margin-top: 10%;
}
.container .task.done {
    background-color: rgba(203, 238, 214, 0.61);
}
.task p.text {
    text-wrap: none;
}
.flush {
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    margin-bottom: 10px;
}